In [3]:
import json
import pandas as pd

with open("rankings/heroes.json", "r") as file:
    hero_rankings_by_role = json.load(file)

hero_rankings = {hero.pop("Hero"): hero
                 for heroes in hero_rankings_by_role.values()
                 for hero in heroes}

hero_rankings = pd.DataFrame(hero_rankings).transpose()
hero_rankings

               Mobility  Power  Utility  Range
D.Va                  9      7        6      5
Doomfist             10      6        7      3
Junker Queen          6      8        6      4
Orisa                 4      7        7      6
Ramattra              5      8        7      5
Reinhardt             4      8        6      2
Roadhog               3      8        5      3
Sigma                 5      7        8      7
Winston               9      6        7      5
Wrecking Ball        10      6        8      4
Zarya                 4      8        6      4
Ashe                  6      8        5      8
Bastion               3      9        5      7
Cassidy               4      8        4      6
Echo                  9      8        7      8
Genji                10      7        6      5
Hanzo                 6      8        6      9
Junkrat               5      8        6      7
Mei                   4      7        8      6
Pharah                9      7        5      8
Reaper                5      8        5      4
Sojourn               7      8        5      8
Soldier: 76           7      7        4      7
Sombra               10      6        9      4
Symmetra              4      7        8      5
Torbjörn              3      7        7      6
Tracer               10      6        7      4
Widowmaker            3      7        5     10
Ana                   3      8        9     10
Baptiste              7      7        8      8
Brigitte              4      7        7      4
Illari                6      8        6      8
Kiriko                9      7        8      9
Lifeweaver            5      6       10      7
Lucio                10      6        8      4
Mercy                10      6        9      8
Moira                 7      7        5      5
Zenyatta              3      8        7      9

In [12]:
def compute_matchup_score(hero1, hero2):
    hero1_ranking = hero_rankings.loc[hero1]
    hero2_ranking = hero_rankings.loc[hero2]
    matchup = pd.Series()
    for category in hero1_ranking.index:
        if category == "Hero":
            continue
        diff = hero1_ranking.loc[category] - hero2_ranking.loc[category]
        score = diff * abs(diff)
        matchup.loc[category] = score
    matchup.loc["Total"] = matchup.sum()
    matchup.loc["Hero"] = hero2
    return matchup

compute_matchup_score("Winston", "Ana")

Mobility     36
Power        -4
Utility      -4
Range       -25
Total         3
Hero        Ana
dtype: object

In [15]:
def build_matchup_table(hero):
    matchups = []
    for opp in hero_rankings.index:
        if opp == hero:
            continue
        matchups.append(compute_matchup_score(hero, opp))
    df = pd.DataFrame(matchups)
    return df.set_index("Hero").sort_values(by="Total", ascending=False)

build_matchup_table("Winston")

               Mobility  Power  Utility  Range  Total
Hero
Roadhog              36     -4        4      4     40
Torbjörn             36     -1        0     -1     34
Reinhardt            25     -4        1      9     31
Cassidy              25     -4        9     -1     29
Bastion              36     -9        4     -4     27
Brigitte             25     -1        0      1     25
Orisa                25     -1        0     -1     23
Zarya                25     -4        1      1     23
Symmetra             25     -1       -1      0     23
Mei                  25     -1       -1     -1     22
Reaper               16     -4        4      1     17
Zenyatta             36     -4        0    -16     16
Widowmaker           36     -1        4    -25     14
Ramattra             16     -4        0      0     12
Sigma                16     -1       -1     -4     10
Junkrat              16     -4        1     -4      9
Soldier: 76           4     -1        9     -4      8
Junker Queen          9     -4        1      1      7
Moira                 4     -1        4      0      7
Lifeweaver           16      0       -9     -4      3
Doomfist             -1      0        0      4      3
Ana                  36     -4       -4    -25      3
D.Va                  0     -1        1      0      0
Ashe                  9     -4        4     -9      0
Tracer               -1      0        0      1      0
Genji                -1     -1        1      0     -1
Wrecking Ball        -1      0       -1      1     -1
Lucio                -1      0       -1      1     -1
Illari                9     -4        1     -9     -3
Sombra               -1      0       -4      1     -4
Sojourn               4     -4        4     -9     -5
Pharah                0     -1        4     -9     -6
Baptiste              4     -1       -1     -9     -7
Hanzo                 9     -4        1    -16    -10
Echo                  0     -4        0     -9    -13
Mercy                -1      0       -4     -9    -14
Kiriko                0     -1       -1    -16    -18